@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* colors */
  --gray-20: #5b5b5b;
  --gray-10: #5e5e5e;
  --black-20: #000000;
  --black-10: #1a1a1a;

  /* fonts */
  --headline1: 600 1.5rem / normal Poppins;
  --subtitle: 400 1.125rem / normal Poppins;
  --button: 600 1rem / normal Poppins;
  --body1-regular: 400 1rem / normal Poppins;
}

body {
  margin: 0;
  padding: 0;
}
