.title {
  margin: 0;
  font: var(--headline1);

  &.black {
    color: var(--black-10);
  }
}

.subtitle {
  margin: 0;
  font: var(--subtitle);

  &.gray {
    color: var(--gray-20);
  }
}

.body1 {
  margin: 0;
  font: var(--body1-regular);
  color: var(--black-20);
}
